.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Filter,
.Map {
  margin-top: 50px;
}

#map {
  height: 100vh; /* viewport height */
}

.Results li {
  display: inline-block;
  margin: 5px 5px;
  border: 2px solid navy;
  color: navy;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 10px;
}
.Results li:hover {
  background-color: navy;
  color: white;
  cursor: pointer;
}
.active {
  background-color: green;
}

.Details li {
  list-style-type: none;
}